/***** CSS RESET CODE *****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS VARIABLES */

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

/* BASIC STYLING */

html {
    background-color: var(--white);
}

body {
    background-color: var(--white);
    line-height: 1.25;
    margin: 0 auto;
}

img {
    height: auto;
    width: 100%;
}

/* BASIC FONT STYLING */

h1, h2, h3 {
    font-family: "Molle", system-ui;
    font-weight: 400;
    font-style: italic;
}

h4, p, q, small, nav, button, form, span {
    font-family: "Montserrat", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 1.75rem;
}

h2, h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

p, q, nav, button, form, small {
    font-size: 1rem;
}

label {
    font-size: 0.75rem;
}

/* SKIP LINK */

#skip {
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

/* HEADER STYLING */
header {
    align-items: end;
    justify-items: start;
    display: grid;
    grid-template-columns: .5fr repeat(5, 1fr) .5fr;
    background: linear-gradient(to bottom, #55bcd5 0%,#ffffff 100%);
    color: var(--black);
}

header a {
    grid-column: 1 / 5;
}

header h1 {
    align-self: end;
    margin-top: 10px;
    margin-left: 15px;
    grid-column: 2 / 8;
    grid-row: 2;
}

header p {
    margin-left: 15px;
    margin-right: 10px;
    grid-column: 2 / 8;
}

nav {
    display: flex;
    position: relative;
    grid-column: 7;
    grid-row: 1;
}

.sr-only {
    display: none;
}

/* HAMBURGER MENU STYLING */

#menu-toggle input {
    display: none;
}

#menu-toggle label {
    background-color: var(--yellow);
    color: var(--black);
    padding: 10px 60px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

#menu-toggle ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
}

#menu-toggle ul li {
    border-bottom: 2px solid var(--dark-gray);
    width: 100%;
}

#menu-toggle ul li a {
    background-color: var(--teal);
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
}

#menu-toggle ul li a:hover {
    background-color: var(--yellow);
    color: var(--black);
}

#toggle:checked + label {
    background-color: var(--dark-gray);
    color: var(--white);
}

#toggle:checked + label + ul {
    display: block;
}

/***** MAIN CONTENT STYLING *****/

/* INTRO STYLING */

#intro h2, #intro p {
    margin: 10px 25px;
}

#intro h2 {
    margin-top: 35px;
}

#intro p {
    line-height: 1.5;
}

#img-grid img {
    margin: 5px 0;
}

/* PLAN STYLING */

#plan {
    background-color: var(--yellow);
}

#plan h3 {
    margin: 15px 40px;
    padding-top: 15px;
}

#plan div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#plan section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--teal);
    border: 2px solid var(--white);
    border-radius: 5px;
    width: 150px;
    height: 200px;
    padding: 15px 50px;
    margin: 5px 0;
}

#plan section:nth-last-of-type(3) img {
    width: 150px;
    height: auto;
}

#plan h4 {
    align-self: center;
    font-weight: bold;
    text-wrap: nowrap;
    text-transform: uppercase;
    padding-top: 10px;
}

#plan img {
    align-self: center;
    width: 125px;
    height: auto;
    margin: 20px;
}

/* TESTIMONIALS STYLING */

#testimonials h3 {
    margin: 15px 40px;
    padding-top: 15px;
}

#testimonials div {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 20px;
}

#testimonials section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 55px;
}

#testimonials img {
    width: 125px;
    height: auto;
}

#testimonials h4 {
    font-weight: bold;
    text-transform: uppercase;
}

#testimonials p, #testimonials q {
    font-size: .85rem;
}

#testimonials q {
    font-style: italic;
}

/* ABOUT STYLING */

#about {
    background-color: var(--blue);
}

#about h3 {
    margin: 15px 40px;
    padding-top: 15px;
}

#about div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

#about section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

#about img {
    width: 75px;
    height: 75px;
}

#about h4, #about p {
    font-size: 0.85rem;
}

#about h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}

/* CONTACT STYLING */

#contact {
    margin: 0 auto;
    padding: 20px 0;
    width: 75%;
}

#contact h3 span {
    font-style: italic;
    font-size: 0.9rem;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    font-weight: bold;
    margin: 5px 0 3px;
    text-transform: uppercase;
}

#contact legend {
    font-weight: bold;
    padding: 10px 0 3px;
}

#contact input {
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 10px;
}

#contact input[type="radio"] {
    accent-color: var(--purple);
    width: 35px;
    height: 35px;
}

.required {
    color: var(--purple);
}

#names {
    display: flex;
    flex-direction: column;
}

#nums {
    display: flex;
    flex-direction: column;
}

#nums fieldset {
    display: flex;
    flex-direction: column;
}

#nums fieldset label {
    display: flex;
    align-items: center;
}

.radio-label {
    margin-left: 10px;
}

.custom-select {
    margin-bottom: 10px;
}

#contact select {
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
}

#contact input[type="submit"] {
    background-color: var(--purple);
    border-radius: 0;
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}

/* FOOTER STYLING */

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

footer p, footer a {
    margin: 5px 0;
    font-weight: bold;
    font-size: .75rem;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

@media screen and (min-width:720px) {
    h2, h3 {
        font-size: 1.9rem;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;
    }

    header a {
        grid-column: 1;
        grid-row: 1 / 3;
        padding: 20px 0;
    }

    header h1 {
        grid-column: 2;
        grid-row: 1;
        padding-top: 20px;
        font-size: 2.2rem;
    }

    header p {
        grid-column: 2 / 4;
        grid-row: 2;
        margin-right: 150px;
        padding-bottom: 20px;
    }

    header nav {
        grid-column: 1 / -1;
        grid-row: 3;
        justify-self: center
    }
    
    #menu-toggle input,
    #menu-toggle label {
        display: none;
    }

    #menu-toggle ul {
        display: flex;
        justify-content: center; 
        margin: 0;
        list-style: none;
        position: static;
    }

    #menu-toggle ul li { 
        border: none;
        width: auto;
    }

    #menu-toggle ul li a {
        display: inline-block;
        background-color: var(--white);
        margin: 0 5px;
    }

    #intro {
        margin: 0 auto;
        width: 80%;
    }

    #img-grid {
        display: grid;
        gap: 10px 20px;
        grid-template-columns: 1fr 1fr;
    }

    #img-grid img:nth-of-type(1) {
        grid-column: 2;
    }

    #img-grid img:nth-of-type(2) {
        grid-column: 1;
        grid-row: 1;
    }

    picture {
        grid-column: 1 / -1;
    }

    #plan h3 {
        margin-left: 100px;
    }

    #plan div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #plan section {
        margin: 5px;
    }

    #testimonials h3 {
        margin-left: 100px;
    }

    #testimonials div {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr .5fr;
    }

    #testimonials section {
        margin: 15px;
    }

    #testimonials section:nth-last-of-type(1) {
        grid-column: 3;
        grid-row: 2;
    }

    #testimonials section:nth-last-of-type(2) {
        grid-column: 2;
        grid-row: 2;
    }

    #testimonials section:nth-last-of-type(3) {
        grid-column: 3;
        grid-row: 1;
    }

    #testimonials section:nth-last-of-type(4) {
        grid-column: 2;
        grid-row: 1;
    }
    
    #nums fieldset {
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: row;
    }

    #nums fieldset label {
        margin-right: 50px;
    }

    #selects {
        display: flex;
        flex-direction: column;
    }

    #contact input[type="submit"] {
        align-self: flex-end;
        margin-top: 15px;
        width: 35%;
    }

    footer {
        flex-direction: row;
        justify-content: center;
    }

    footer p, footer a {
        margin: 0 15px;
        padding: 20px 0;
    }
}

@media screen and (min-width:1080px) {
    
}